
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;

  @media only screen and (max-width: $largest) {
    font-size: 58.5%;
  }

  @media only screen and (max-width: $large) {
    font-size: 56.5%;
  }

  @media only screen and (max-width: $medium) {
    font-size: 48.5%;
  }

  @media only screen and (max-width: $smaller) {
    font-size: 42.5%;
  }
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: 400;
  // word-spacing: .8rem;
  letter-spacing: .1rem;
  color: #000;
  font-family: $font-regular;
  overflow-x: hidden;
}

.row {
  max-width: 124rem;
  margin: 0 auto;

  @media only screen and (max-width: $largest) {
    padding: 0 5rem;
  }

  @media only screen and (max-width: $smaller) {
    padding: 0 2rem;
  }
}


/*

@media only screen and (max-width: $largest) {
    
}

@media only screen and (max-width: $large) {
    
}

@media only screen and (max-width: $medium) {
    
}

@media only screen and (max-width: $small) {
    
}

@media only screen and (max-width: $smaller) {
    
}

*/
