$color-primary: #5EB6E1;
$colr-secondary: #FF6C2C;
$color-black: #181A1F;
$font-heading: 'Fraunces', serif;
$font-regular: 'Barlow', sans-serif;

$largest: 75em;
$large: 62.5em;
$medium: 56.25em;
$small: 37.5em;
$smaller: 25em;